/* container */

#container {
    width:80%;
    max-width:1024px;
    margin:0 auto;
    overflow:hidden;

}

/* background for website */

#outboundLinkedin {
    text-decoration:none;
    color:blue;
}



/* menu board */

#menu {
    max-width: 1028px;
    width: 100%;
    max-height: 50px;
    height: 7%;
    font-size: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    position:fixed;
    border:2px solid gold;
    background:#FFFFFF;
    z-index: 10;
    color:#984449;;

}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}


#menu li { 
font-size:200%;
    list-style-type: none;
display: inline; 
margin:6%;
text-decoration:none;
cursor:pointer;
}



/* intro photo */

.intro {
    width: 100%;
   box-shadow: 10px 10px 5px #888888;
    height: 600px;
    border-radius: 8px;
    background:url("images/image.jpg") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;

}

.intro ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.intro li {
font-size:60%;
padding: 5%;
text-decoration:none;
}

div.transbox {
    position:relative;
    margin:auto;
    top:150px;
    width: 300px;
    height: 300px;
    border-radius:50%;
  
    background-color: #FFFFFF;
    border: 1px solid black;
    opacity: 0.9;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    position:relative;
    top:80px;
   text-align:center;
    margin: 30px 40px;
    font-weight: bold;
    color: #984449;
    font-size:20px;
}


/* my profile picture */


.profile {
    top:30px;
    box-shadow: 10px 10px 5px #888888;
left:38%;
position:relative;
    width:20%;;
    height:50%;

}


/* About me description */
.aboutMe {
    background:white;  
    box-shadow: 2px;
      border: 1px solid black;
    opacity: 0.9;
    box-shadow: 10px 10px 5px #888888;
}

.aboutMe p {
     font-weight:bold;
    padding:4%;

}




/* linkedin and contact info */

.linkedin, .email, .github {
    width:50px;
    height:50px;
    float:center;
}

.contact {
    position:relative;
    left:38%;
    padding:4%;
}
.portfolio{
    height:500px;
}

.aboutMe{
    margin:4%;
}


/* portfolio */

#forex {
    width:396px;
    box-shadow: 10px 10px 5px #888888;
    height:182px;
    border:2px solid blue;
    position:relative;
    left:6%;
    display:inline;
}

#innerProgress {
   width:396px;
   box-shadow: 10px 10px 5px #888888;
    height:182px;;
    border:2px solid blue;
    position:relative;
    left:15%;
    display:inline;
}

#hotCold {
    margin-top:4%;
 width:396px;
    height:182px;
    border:2px solid blue;
    position:relative;
    left:15%;
    box-shadow: 10px 10px 5px #888888;
}


#shoppingList{
    margin-top:4%;
   width:396px;
    height:182px;
    border:2px solid blue;
    position:relative;
    left:6%;
    box-shadow: 10px 10px 5px #888888;
}


#shoppingList, #forex, #innerProgress, #hotCold {
    border:2px solid gold;
    border-radius:8px;
}


/*fade in and fade out*/


.forexPopup {
    position:relative;
    color:red;
    bottom:370px;
    left:140px;
    background:white;
    width:26%;
    opacity:0.8;
    display:none;
    font-weight:bold;
    text-align:center;
}

.hotColdPopup {
    display:none;
    color:red;
    position:relative;
    bottom:370px;
    left:640px;
    background:white;
    width:24%;
    text-align:center;
    opacity:0.8;
    font-weight:bold;
}

.shoppingListPopup{
    color:red;
    position:relative;
    bottom:170px;
    left:140px;
    background:white;
    width:24%;
    text-align:center;
    opacity:0.8;
    font-weight:bold;
    display:none;
}

.innerprogressionPopup {
    color:red;
    position:relative;
    bottom:170px;
    left:650px;
    background:white;
    width:24%;
    text-align:center;
    opacity:0.8;
    font-weight:bold;
    display:none;
}

