
<nav class="nav">
  <div class="container">
	  <h4 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.header_name}}</a></h4>

    <ul class="navbar">
      <li><a href="{{ '/resume' | prepend: site.baseurl | prepend: site.url }}">Resume</a></li>
      <li><a href="https://andreilyskov.us7.list-manage.com/subscribe?u=c6173c0430bff31b398244efc&id=82736f9660">Subscribe</a></li>
     <li><a href="{{ '/now' | prepend: site.baseurl | prepend: site.url }}">Now</a></li>
    </ul>
  </div>
</nav>
